@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
}
input{border: 0; outline: none}
img{
  max-width: 100%;
  height: auto;
}
.wrap{
  width: 100%;
  min-height: 100vh;
  background: #eee;
  display: flex;
  justify-content: center;
}
.post_wrapper {
    width: 70%;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #eee;
}
.feed{
  width: 600px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 10px 20px;
  background: #fff;
}

.post__title{
  width: 100%;
}
